[submodule "can-isotp-modules"]
	path = can-isotp-modules
	url = https://github.com/hartkopp/can-isotp-modules.git
[submodule "uthash"]
	path = uthash
	url = https://github.com/troydhanson/uthash.git
